.content {
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
}
.left-content {
  background-color: var(--bg-lighter-color);
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content ul {
  /* bullet point */
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.content li {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.right-content {
  /* background-color: var(--text-color); */
  background-color: white;
  color: var(--bg-color);
  max-width: 500px;
  flex: 3;
  margin: 30px 60px;
}
